@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;    
}

.container{
    width: 320px;
    height: 500px;
    padding: 16px 16px 40px; /* Top Right Bottom Left */
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.container img{
    width: 100%;
    border-radius: 10px;
}

.description{
    margin: 16px;
}

.description h1{
    text-align: center;
    font-size: 22px;
    letter-spacing: 0px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
}

.description p{
    text-align: center;
    color: hsl(216, 15%, 48%);
}



/* Footer */
.attribution { 
    font-size: 12px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}